@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');

:root {
    --primary-color: #50ab9a;
    --secundary-color: #72c1a6;
    --accent1-color: #e2e19f;
    --accent2-color: #9fd3e6;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font:'Open Sans', sans-serif;
    
    --nav-backgorund-color:#e2e19f ;
    --nav-link-color: #50ab9a;
    --nav-hover-link-color: white;
    --nav-hover-baground-color: #72c1a6;

}

header {
    margin:  1rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    max-width: 100%;
}

header img {
	width: 200px;
	height: auto;
}

body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
}

p {
    font-family: var(--paragraph-font);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav {
    background-color: var(--nav-backgorund-color);
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--nav-link-color);
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-baground-color);
    font-weight: 700;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section p {
    font-size: large;
    text-align: center;
}

form {
    width: 450px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    background-color: rgba(245, 245, 245, 0.932);
    display: grid;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--secundary-color);
}

.hero {
    position: relative;
    display: flex;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 20px;
    top: 150px;
    left: 900px;
}

.hero article {
    position: absolute;
    background-color: rgb(240, 255, 255, 0.8);
    top: 600px;
    left: 100px;
    right: 100px;
    padding-left: 15px;
}

.hero article p {
    text-align: justify;
}

.hero article img {
    padding: 30px;
    width: 500px;
    height: auto;
    float: right;
}


.history img {
    padding: 15px;
    padding-top: 0;
    width: 300px;
    height: auto;
    float: left;
}

.adventure {
    display: flex;
    justify-content: space-between;
}


.adventure img {
    width: 250px;
    height: 250px;
}

.footer {
    padding: 20px;
    padding-left: 800px;
    background-color: #e2e19f;
    display: flex;
    justify-content: space-between;
}

.footer p {
    display: flex;
    align-items: center;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.sociallinks a img{
    width: 50px;
    height: auto;
}

.reachteam {
    display: flex;
    justify-content: space-evenly;
}

.reachteam img {
    width: 200px;
    height: auto;
}

.section {
    display: flex;
    justify-content: space-evenly;
}

.sendus p {
    font-size:large;
}


